// ===== ЦВЕТА
$background: #fff;
$surface: #f1f1f1;
$text-inverse: #fff;
$text-low: #9da1a8;
$text-default: #120e1d;
$primary: #637cf9;
$gold: #f2b855;

// ===== СКРУГЛЕНИЯ
$radius-xs: 10px;
$radius-s: 15px;
$radius-m: 20px;
$radius-l: 30px;
$radius-xl: 50px;

// ===== ОТСТУПЫ
$spacing-none: 0;
$spacing-xxxxs: 2px;
$spacing-xxxs: 5px;
$spacing-xxs: 8px;
$spacing-xs: 10px;
$spacing-sm: 15px;
$spacing-md: 20px;
$spacing-lg: 22px;
$spacing-xl: 25px;
$spacing-xxl: 30px;
$spacing-xxxl: 40px;

// ===== ЗАГОЛОВКИ
$heading-1: 70px;
$heading-2: 45px;
$heading-3: 35px;
$heading-4: 30px;
$heading-5: 25px;
$heading-6: 20px;

// ===== ТЕКСТ
$text-xl: 20px;
$text-lg: 16px;
$text-md: 14px;
$text-sm: 12px;
$text-xs: 10px;
$text-xxs: 8px;