// ===== ЦВЕТА
$background: #f3fcff;
$surface: #e7f2f3;
$card: #ffffff;
$border: #ddd6ce;
$text-inverse: #fff;
$text-muted: #6f675f;
$text-low: #697074;
$text-default: #1f1d1c;
$primary: #94cdf4;
$primary-dark: #1d5373;
$danger: #d51414;
$pending: #eea333;
$success: #4f8a3d;
$warning: #5FBDCE;
$gold: #8a5500;
$logo: #FFB000;
$logo-secondary: #5FBDCE;

// ===== СКРУГЛЕНИЯ
$radius-xs: 6px;
$radius-s: 15px;
$radius-m: 20px;
$radius-l: 30px;
$radius-xl: 50px;

// ===== ОТСТУПЫ
$spacing-none: 0;
$spacing-xxxxs: 2px;
$spacing-xxxs: 5px;
$spacing-xxs: 8px;
$spacing-xs: 10px;
$spacing-sm: 15px;
$spacing-md: 20px;
$spacing-lg: 22px;
$spacing-xl: 25px;
$spacing-xxl: 30px;
$spacing-xxxl: 40px;

// ===== ЗАГОЛОВКИ
$heading-1: 70px;
$heading-2: 45px;
$heading-3: 35px;
$heading-4: 30px;
$heading-5: 25px;
$heading-6: 20px;

// ===== ТЕКСТ
$text-xl: 20px;
$text-lg: 16px;
$text-md: 14px;
$text-sm: 12px;
$text-xs: 10px;
$text-xxs: 8px;
