@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

header {
  padding: $spacing-md $spacing-xxl;
  grid-column: 1 / -1;
  grid-row: 1;

  .container {
    @include flex;
    justify-content: space-between;
    align-items: center;
  }

  .date {
    max-width: 170px;
    text-align: center;
  }
}
